---
// import Test from './Test.vue'; 
import '@/styles/globals.css';
import Home from '@/modules/Home.vue';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astro</title>
</head>
<body class="dark">
    <main>
        <Home/>
        <h2>Світ</h1>
    </main>
</body>
</html>

<style>
    body {
        display: grid;
        place-items: center;
        height: 100vh;
        max-width: 604px; /* Задайте максимальную ширину по вашему выбору */
        margin: 0 auto; /* Устанавливаем автоматические отступы по бокам для центрирования */
    }
    main{
        width: 100%;
    }
</style>
