---
/* import Test from './Test.vue'; */
import '@/styles/globals.css'

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astro</title>
</head>
<body class="">
    <main>
        <h2>Світ</h1>
    </main>
</body>
</html>

<style>
    main {
        max-width: 604px; /* Задайте максимальную ширину по вашему выбору */
        margin: 0 auto; /* Устанавливаем автоматические отступы по бокам для центрирования */
    }
</style>
